@use "../assets/scss/_mixins.scss"as *;
@use "../assets/scss/_utilities.scss"as *;
@use "../assets/scss/variables.scss"as *;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=block");

.education {
    position: relative;
    @extend %full-screen;
    overflow: hidden;

    .education__history {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include media(1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media(600px) {
            grid-template-columns: repeat(1, 1fr);
        }

        min-height: 65vh;

        .slide-down {
            transform: translateY(0);
        }

        &__items {
            text-align: center;
            transform: translateY(-43rem);
            transition: all ease 0.5s;
            padding: 20px;
            @extend %center-div;
            background-size: cover !important;
            color: white;

            h2 {
                font-size: 2.5rem;
                line-height: 3rem;
            }

            p {
                font-size: 1.6rem;
                letter-spacing: -0.1rem;
                font-weight: bold;
            }

            img {
                height: 130px;
            }
        }
    }

    //
    // Dark Mode
    //
    &.dark {
        background: black;

        h1 {
            color: white;
        }

        .education__history {
            background: $dark;
            color: white;
        }
    }

    //
    // End Dark Mode
    //
}