@use "./assets/scss/_mixins.scss"as *;
@use "./assets/scss/_utilities.scss"as *;
@use "./assets/scss/variables.scss"as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;900&display=swap');

:root {
  --dark-bg: #171923;
  --pink: #f7145f;
  --h1-light: #2d3748;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size Browser Default is 16px */
  font-size: clamp(75%, 1.5vw, 93%);
  width: 100vw;
  overflow-x: hidden;

  @include media(37.5em) {
    font-size: 90%;
  }
}

body {
  position: relative;
  line-height: 1.7;
  color: rgb(36, 36, 36);
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

p,
div,
ul,
li,
button,
a,
input,
select {
  font-family: 'Inter', sans-serif;
}

input,
select {
  padding: 0.8rem;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
  color: black;

  &:hover {
    color: #f7145f;
  }
}

.move-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  background: rgb(250, 250, 250);
  z-index: 9995;
  @extend %center-div;

  &:hover {
    background: var(--pink);

    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(87deg) brightness(119%) contrast(119%);
    }
  }

  &.dark {
    background: var(--dark-bg);
    border:1px solid hsl(220deg 60% 50% / 0.7);

    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(87deg) brightness(119%) contrast(119%);
    }
  }
}